target

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#IDE metadata
**.idea/**
.idea/
*.iml

# Eclipse
.project
.classpath
.settings

#updatebot checkout dir
.updatebot-repos/
.updatebot-repos/**

rebel.xml

!newrelic.jar
!newrelic-api.jar
!newrelic-api-javadoc.jar
!newrelic-api-sources.jar
